body{
    background-color: rgb(16, 156, 185);
    background-attachment: fixed;
}

#task{
    width: 865px;
    height: 33px;
    border-radius: 5px;
    font-size: 23px;
}

#btn{
    height: 38px;
    width: 130px;
    color: rgb(16, 156, 185);
    background-color:rgba(27, 57, 82, 0.664) ;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

button{
    color:whitesmoke;
    background-color: rgb(206, 27, 27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li:hover{
    background-color: rgba(25, 212, 41, 0.767);
}

ul li{
    list-style-type: none;
    height: 35px;
    width: 1250px;
    border-radius: 5px;
    background-color: rgb(49, 178, 204);
    border: 1px outset;
    color: white;
    font-weight: bold;  
    font-size: 20px;

    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




#text0{
    color: white;
}
#text1{
    color: rgb(233, 204, 39);
}
#text2{
    color: rgb(97, 245, 52);
}
#text3{
    color:rgba(8, 66, 114, 0.616) ;
}